<template>
  <div>
    <v-layout row wrap class="ma-0">
      <v-flex xs12>
        <v-parallax src="/static/taks-images/task-wallpaper.jpg" height="600">
          <v-layout column align-center justify-center>
            <h1 class="main-text animated fadeIn">Administrador de tareas</h1>
            <v-btn color="primary" dark slot="activator" @click.native="dialog = true">Crear tarea </v-btn>
          </v-layout>
        </v-parallax>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Nueva tarea</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nombre de la tarea" v-model="taskName" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Descripcion de la tarea" v-model="taskDescription" required multi-line></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select label="Urgencia" required v-model="taskUrgency" :items="['Poca', 'Mediana', 'Urgente']"></v-select>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* Campos obligatorios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Cerrar</v-btn>
          <v-btn color="blue darken-1" flat v-on:click="newTask" @click.native="dialog = false">Crear</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout class="task-manager">
      <v-flex></v-flex>
    </v-layout>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  data () {
    return {
      dialog: false,
      userId: '',
      taskName: '',
      taskDescription: '',
      taskUrgency: '',
      myTasks: []
    }
  },
  methods: {
    newTask: function () {
      const task = [{
        id: this.userId,
        taskName: this.taskName,
        taskDescription: this.taskDescription,
        taskUrgency: this.taskUrgency
      }]
      if (this.taskname === '' || this.taskDescription === '' || this.taskUrgency === '') {
        console.log('Datos nulos')
      } else {
        firebase.database().ref('tasks').push(task)
        console.log(task)
      }
    }
  },
  created () {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.userId = user.uid
      } else {
        console.log('Has cerrado sesión')
      }
    })
    firebase.database().ref('tasks').once('value').then(
      (data) => {
        const objectTask = data.val()
        for (let key in objectTask) {
          let object = objectTask[key]
          for (let value in object) {
            console.log(object[value].id)
            console.log(this.userId)
            if (object[value].id === this.userId) {
              this.myTasks.push({
                id: value,
                userId: object[value].id,
                taskDescription: object[value].taskDescription,
                taskName: object[value].taskName,
                taskUrgency: object[value].taskUrgency
              })
            } else {
              console.log('No tienes tareas')
            }
          }
        }
      }
    )
    .catch(
      (error) => {
        console.log(error)
      }
    )
    console.log(this.myTasks)
  }
}
</script>

<style lang="scss">
@import '~styles/index.scss';

.main-text {
  font-size: 35px;
}
.task-title {
  text-align: center;
}
#app{
  background-color: $white;
}

</style>
