$white: white;
$black: black;



$color-principal: #fff2e6;
$navbar-color: white;
$button-color: #d7ebf2;
$danger-color-card: #f4cbd2;
$warning-color-card: #f8fcc4;
$gree-color-card: #dbf9db;
$color-text: white;
$loading-color: #555;
